# Libraries
*.so
*.o
*.a
*.obj
*.s
/lib/
/build/

# Testing binaries
*.exe
test.exe
test
cpp-test
doc_example
benchmarks
test_lib
tests/c/internal
profile.bin
iter_test

# Other files
preproc.i
gmon.out
bench_prof.txt
test_prof.txt
*.gcda
*.gcno
*.gcov

# Tooling
.vscode
TODO
.clang-format
update.sh