# Libraries
*.so
*.o
*.a
*.obj
/lib/
/build/

# Testing binaries
*.exe
test.exe
test
cpp-test
doc_example
benchmarks
internal
profile.bin

# Other files
preproc.i
prof_out
*_prof
gmon.out

# Tooling
/.vscode/
*.vscode/
TODO