# Libraries
*.so
*.o
*.a
*.obj
*.s
/lib/
/build/

# Testing binaries
*.exe
test.exe
test
cpp-test
doc_example
benchmarks
internal
test_lib
profile.bin

# Other files
preproc.i
gmon.out
bench_prof.txt
test_prof.txt
*.gcda
*.gcno
*.gcov

# Tooling
/.vscode/
*.vscode/
TODO
.clang-format
update.sh